<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
    <link href="../../static/userListStyle.css" media="all" type="text/css" th:href="@{/userListStyle.css}" rel="stylesheet"/>
</head>
<body>
    <nav class="top-menu">
        <ul class="menu-main">
            <li class="left-item"> <a th:href="@{/main}">Main page</a></li>
        </ul>
    </nav>
  ` <table id = "userListTable">
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th></th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:each="role : ${user.roles}" th:text="${role}">
            <h1>${#lists.size(user.roles)}</h1>
            <div th:if="${#lists.size(user.roles)} < 2">
                <td></td>
            </div>
            </td>
            <td><a th:href="@{/admin/editUser(id=${user.id})}"><button type="submit">edit</button></a></td>
            <td>
                <form th:action="@{/admin/deleteUser(id=${user.id})}" th:object="${user}" method="post">
                    <input type="hidden" name="id" value="${user.id}"/>
                    <button type="submit" onClick="return confirm('sure?')">delete</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>