<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User edit</title>
  <link href="../../static/simpleStyle.css" media="all" type="text/css" th:href="@{/simpleStyle.css}" rel="stylesheet"/>
</head>
<body>
  <h1>Choose role of user</h1>
    <form th:action="@{/admin/editUser}" th:object="${user}" method="post">
        <input type="hidden" name="username" th:value="${user.username}"/>
        <dl>
            <dt th:each="role : ${allRoles}">
                <div class="ui checkbox">
                    <input type="checkbox" th:field="*{roles}" th:value="${role}"/>
                    <label th:for="${#ids.next('roles')}" th:text="${role}"></label>
                </div>
             </dt>
        </dl>
        <input type="hidden" name="userId" th:value="${user.id}"/>
        <button type="submit" onClick="return confirm('sure?')">save</button>
    </form>
</body>
</html>