<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../static/mainPage.css" media="all" type="text/css" th:href="@{/mainPage.css}" rel="stylesheet"/>
</head>
<body>
    <div id="authentication" sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div>
    <nav class="top-menu">
        <ul class="menu-main">
            <li class="left-item"> <a th:href="@{/}">Home</a></li>
            <li class="left-item"><a th:href="@{/user/settings(id=${user.id})}">Settings</a></li>
            <li class="left-item">
                <div th:if="${roles.contains(&quot;ADMIN&quot;)}">
                     <a th:href="@{/admin}">User list</a>
                </div>
            </li>
            <li class="right-item"  style="min-width: 100px; position: relative">
                <form th:action="@{/logout}" method="post">
                    <input style="min-width: 100px" id="signOutButton" type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </nav>

    <h1>Messages</h1>
    <div>
        <table>
            <tr>
                <th style="width: 7%">Username</th>
                <th style="width: 70%">Message</th>
                <th style="width: 12%">Updated at</th>
            </tr>
            <tr th:each="message : ${messages}">
                <td th:text="${message.userId.username}"></td>
                <td th:text="${message.text}"></td>
                <td th:text="${#dates.format(message.updatedDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <div th:if="${message.userId.username} == ${user.username} or ${roles.contains(&quot;ADMIN&quot;)}">
                    <td style="background: none; border: none">
                        <a th:href="@{/editMessage(id=${message.id})}">
                        <button type="submit" >edit</button></a>
                    </td>
                    <td style="background: none; border: none">
                        <form th:action="@{/removeMessage(id=${message.id})}" th:object="${message}" method="post">
                            <input type="hidden" name="id" value="${message.id}"/>
                            <button type="submit" onClick="return confirm('sure?')">delete</button>
                        </form>
                    </td>
                </div>
            </tr>
        </table>
    </div>

    <h1>Add message</h1>

    <div>
        <form class="addMessageForm" th:action="@{/main}" method="post">
            <div><label> Text : <input type="text" name="text"/> </label></div>
            <div>
                <input id="orangeButton" type="submit" value="Add Message"/>
                <input id="orangeButton" type="reset" value="Cancel"/>
            </div>
        </form>
    </div>
</body>
</html>