body {
    background-color: #B0E0E6;
    background-image: url("mauritus.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: #FFFFFF;
    text-align: center;
}

#upTable {
    background: none;
    border: none;
}

table {
    font: bold 100% Georgia, serif;
    font-family: 'Open Sans', sans-serif;
    margin: 40px auto;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    opacity: 0.9;
    border-radius: 20px;
    border-collapse: collapse;
}

th {
    background: aliceblue;
    text-align: center;
    padding: 5px;
    border: 1px solid darkblue;
}

td {
    background: aliceblue;
    padding: 5px;
    border: 1px solid darkblue;
}

button, #listOfUsersButton, #orangeButton, #settingsButton {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    font-weight: bold;
}

#signOutButton {
    text-decoration: none;
    display: block;
    line-height: 45px;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Georgia, serif;
    font-weight: bold;
    color: white;
    transition: .3s linear;
    border: none;
    background: none;
}

#listOfUsersButton {
    width: 10px;
    left: 20px;
}

#authentication {
    position: absolute;
    float: right;
    top: 4px;
    right: 15px;
    color: white;
    font-weight: bold;
}

.addMessageForm {
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: static;

    /* Styles */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
    0 3px 7px rgba(0, 0, 0, 0.3),
    inset 0 1px rgba(255, 255, 255, 1),
    inset 0 -3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}

@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
    position: relative;
    background: rgba(34, 34, 34, .2);
}

.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-main:after {
    content: "";
    display: table;
    clear: both;
}

.left-item {
    float: left;
}

.right-item {
    float: right;
}

.menu-main a {
    text-decoration: none;
    display: block;
    line-height: 45px;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Georgia, serif;
    font-weight: bold;
    color: white;
    transition: .3s linear;
}

.menu-main a:hover {
    background: rgba(0, 0, 0, .3);
}

@media (max-width: 860px) {
    .menu-main {
        padding-top: 100px;
        text-align: center;
    }

    .menu-main li {
        float: none;
        display: inline-block;
    }

    .menu-main a {
        line-height: normal;
        padding: 20px 15px;
        font-size: 16px;
    }
}

@media (max-width: 630px) {
    .menu-main li {
        display: block;
    }
}

