body {
    background-color: #B0E0E6;
    background-image: url("mauritus.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: #FFFFFF;
    text-align: center;
}

table {
    font: bold 100% Georgia, serif;
    margin: 40px auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

button {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    font-weight: bold;
}

div {
    text-align: center;
    color: white;
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
    position: relative;
    background: rgba(34, 34, 34, .2);
}

.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-main:after {
    content: "";
    display: table;
    clear: both;
}

.left-item {
    float: left;
}

.right-item {
    float: right;
}

.menu-main a {
    text-decoration: none;
    display: block;
    line-height: 45px;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Georgia, serif;
    font-weight: bold;
    color: white;
    transition: .3s linear;
}

.menu-main a:hover {
    background: rgba(0, 0, 0, .3);
}

@media (max-width: 860px) {
    .menu-main {
        padding-top: 90px;
        text-align: center;
    }

    .navbar-logo {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
    }

    .menu-main li {
        float: none;
        display: inline-block;
    }

    .menu-main a {
        line-height: normal;
        padding: 20px 15px;
        font-size: 16px;
    }
}

@media (max-width: 630px) {
    .menu-main li {
        display: block;
    }
}