<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link href="../../static/simpleStyle.css" media="all" type="text/css" th:href="@{/simpleStyle.css}" rel="stylesheet"/>
</head>
<body>
<nav class="top-menu">
    <ul class="menu-main">
        <li class="left-item"> <a th:href="@{/}">Home</a></li>
        <li class="right-item"> <a th:href="@{/login}">Log in</a></li>
    </ul>
</nav>
<h1>Register new user</h1>
<form th:action="@{/registration}" method="post">
    <p><label> User Name : <input type="text" name="username"/> </label></p>
    <p><label> Password: <input type="password" name="password"/> </label></p>
    <p><input id="orangeButton" type="submit" value="Sign up"/></p>
</form>
</body>
</html>