<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Settings</title>
  <link href="../../static/simpleStyle.css" media="all" type="text/css" th:href="@{/simpleStyle.css}" rel="stylesheet"/>
</head>
<body>
    <nav class="top-menu">
        <ul class="menu-main">
            <li class="left-item"> <a th:href="@{/main}">Main page</a></li>
        </ul>
    </nav>
    <h1>Change Password</h1>
    <form th:action="@{/user/settings(id=${user.id})}" th:object="${user}" method="post">
        <input type="hidden" name="id" value="${user.id}"/>
        <p><label> Current password : <input type="text" name="currentPassword"/></label></p>
        <p><label> New password : <input type="text" name="newPassword"/></label></p>
        <input id="orangeButton" type="submit" value="change" onClick="return confirm('sure?')"/>
    </form>
</body>
</html>