<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link href="../../static/style.css" media="all" type="text/css" th:href="@{/style.css}" rel="stylesheet"/>
  <title>Error 500</title>
</head>
<body>
    <h1>You have to log in or sing in at first</h1>
    <table>
        <td> <a th:href="@{/registration}"><button type="submit" >Sign up</button></a></td>
        <td> <a th:href="@{/login}"><button type="submit" >Log in</button></a></td>
    </table>
</body>
</html>