<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/style.css" media="all" type="text/css" th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
    <h1>Something went wrong! Our Engineers are on it</h1>
    <div style="text-align: center">
        <a th:href="@{/}"><button type="submit" >Go home</button></a>
    </div>
</body>
</html>