<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../static/style.css" media="all" type="text/css" th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
    <h1>Your login or password is wrong</h1>
    <div style="text-align: center">
        <a th:href="@{/}"><button type="submit" >Go home</button></a>
    </div>
</body>
</html>