<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <head>
     <link href="../../static/simpleStyle.css" media="all" type="text/css" th:href="@{/simpleStyle.css}" rel="stylesheet"/>
 </head>
 <body>
     <nav class="top-menu">
         <ul class="menu-main">
             <li class="left-item"> <a th:href="@{/}">Home</a></li>
             <li class="right-item"> <a th:href="@{/registration}">Sign up</a></li>
          </ul>
     </nav>
     <h1>Write your login and password</h1>
     <div th:if="${param.error}">
         <h1>Invalid username or password.</h1>
     </div>
     <div th:if="${param.logout}">
         <h1>You have been logged out.</h1>
     </div>
     <form th:action="@{/login}" method="post">
         <p><label> User Name : <input type="text" name="username"/></label></p>
         <p><label> Password: <input type="password" name="password"/></label></p>
         <input id="orangeButton" type="submit" value="Log in"/>
     </form>
</body>
</html>