<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../static/style.css" media="all" type="text/css" th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<nav class="top-menu">
    <ul class="menu-main">
        <li class="left-item"> <a th:href="@{/main}">Main page</a></li>
        <li class="right-item"><a th:href="@{/registration}">Sign up</a></li>
        <li class="right-item"><a th:href="@{/login}">Log in</a></li>
    </ul>
</nav>
    <h1>Hello user. This is a travel forum.</h1>
</body>
</html>