<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit message</title>
  <link href="../../static/simpleStyle.css" media="all" type="text/css" th:href="@{/simpleStyle.css}" rel="stylesheet"/>
</head>
<body>
    <nav class="top-menu">
        <ul class="menu-main">
            <li class="left-item"> <a th:href="@{/main}">Main page</a></li>
        </ul>
    </nav>
    <h1>Edit your message</h1>
    <form th:action="@{/editMessage(id=${message.id})}" th:object="${message}" method="post">
        <input type="hidden" name="id" value="${message.id}"/>
        <label> Text : <input type="text" name="text"/> </label>
        <p><input id="orangeButton" type="submit" value="edit" onClick="return confirm('sure?')"/></p>
    </form>
</body>
</html>